.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.navbar .logo{
  width: 150px;
}
.navbar .list{
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.navbar-right{
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar-right button{
  background: transparent;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  color: #49557e;
  font-size: 16px;
  cursor: pointer;
  transform: .3s;
}
.navbar .btn:hover{
  background-color: #fff4f2;
}
.navbar .active{
  border-bottom: 2px solid #49557e;
  padding-bottom: 2px;
}
.navbar li{
  cursor: pointer;
}
.basket{
  position: relative;
}
.basket .dot{
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: -3px;
  right: -2px;
  background-color: tomato;
}

@media (max-width:1050px){
  .navbar .logo{
    width: 140px;
  }
  .navbar .list{
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right{
    gap: 30px;
  }
  .navbar-right img{
    width: 22px;
  }
  .navbar-right button{
    padding: 8px 25px;
  }
}

.navbar-Profile{
  position: relative;
}
.nav-profile-dropdown{
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-Profile:hover .nav-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border: 1px solid tomato;
  border-radius: 4px;
  outline: 2px solid white;
  list-style: none;
}
.nav-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown li:hover{
  color: tomato;
}
.nav-profile-dropdown img{
  width: 20px;
}


@media (max-width:900px){
  .navbar .logo{
    width: 120px;
  }
  .navbar .list{
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right{
    gap: 20px;
  }
  .navbar-right img{
    width: 20px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width:750px){

  .navbar .list{
    display: none;
  }

}